[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/cdlib/eschol-pkp-lib.git
[submodule "plugins/generic/cdlExport"]
	path = plugins/generic/cdlExport
	url = git@github.com:castiron/cdl-ojs-export.git
