.DS_Store
.idea
*_crossref.xml
config.inc.php
config.inc.php.*
.env
build
temp
files
.htaccess
.project
.buildpath
.settings
ojs_db_connect.php
eschol/utilities/reports/*.csv
*.swp
cache

# Container data
data/
!data/mysql/.gitkeep
docker/mysql/logs/*
!docker/mysql/logs/.gitkeep
docker/ojs/log/*
!docker/ojs/log/.gitkeep

# A place for things
ignore
